# .NET build output
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Entorno
.env

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Publicacion
publish/
out/
/API/appsettings.json

# Artefactos de despliegue
api.zip
web.zip
publish-api/
publish-web/
